<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="style.css" />
            <title>{% block title %}{% endblock %} - My Webpage</title>
        {% endblock %}
        <style>
        	{% block css %}{% endblock %}
        </style>
    </head>
    <body>
    ADMIN
        <div id="content">{% block content %}
        HELLOW
        {% block item %}{% endblock %}
        </div>{% endblock %}
        <div id="footer">
            {% block footer %}
                &copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.
            {% endblock %}
        </div>
    </body>
</html>